<html>
	<head>
		<title>Edit Experiment</title>
	</head>

	<body>
	<center>
	<br><br>
		<input type="text" name="FirstName" value=""> Edit Name
		<input type="submit" value="Save">
	<br><br><br><br>
	 <table>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
</table> 
	</center>
	</body>
</html>	