extends layout

block content
	div(style='height:40px;')
	h1 Experiments
	input(type='text', placeholder="Create New Experiment")
	//- will be dropdown
	input(type='text', placeholder="Search Experiments") 
	input.btn.primary(type='Submit', value='Open')
	input.btn.primary(type='Submit', value='View All Experiments')
	


	