extends layout

block content
	.col-xs-12
		h1 Experiments
	.col-xs-12
		input(type='text', placeholder="Create New Experiment")
	//- will be dropdown
	.col-xs-12
		input(type='text', placeholder="Search Experiments")
	.col-xs-12 
		input.btn.primary(type='Submit', value='Open')
	.col-xs-12
		input.btn.primary(type='Submit', value='View All Experiments')
	


	