extends layout

block content
center
	a(href='run_experiment.html')
		img(src='images/Play.png',align='center')
	a(href='edit_experiment.html')
		img(src='images/Edit.png', align='center')
	button(type='button', href='results.html', align='center') View Results
	a(href='find_experiment.html')
		img(src='images/Delete.png', align='center')
