extends layout

block content
center
    br
      br
      a(href='editexperiment.html')
        img(src='Edit.png', width='160', height='160', border='0', align='center')
      img(src='Arrow.png', width='200', height='80', border='0', align='center')
      a(href='runexperiment.html')
        img(src='Play.png', width='220', height='220', border='0', align='center')
      br
      br
      br
      br
      br
      button(type='button', href='results.html', align='center') View Results
      br
      br
      br
      br
      br
      br
      br
      a(href='findexperiment.html')
        img(src='Delete.png', width='60', height='60', align='center')
