extends layout

block content
	center
		a(href='/run_experiment')
			img(src='images/Play.png',align='center' style='width:400px;height=400px')
		a(href='/edit_experiment')
			img(src='images/Edit.png', align='center' style='width:400px;height=400px')
		form(method='LINK', action='/result')
			input(type='submit', value='')
		a(href='/find_experiment')
			img(src='images/Delete.png', align='center' style='width:400px;height=400px')
