extends layout

block addToHeader
	link(rel="stylesheet" href="stylesheets/home_experiment.css")

block content
	h2.text-center Experiment Name
	.first(style='width:100%;height:400px;float:left;')
		.edit_delete
			h3 Run Experiment
			a(href='/run_experiment')
				img.icons(src='images/Play.png',align='center')
		.edit_delete
			h3 Edit Experiment
			a(href='/edit_experiment')
				img.icons(src='images/Edit.png',align='center')
		#delete_experiment
			h6 Delete Experiment
			img#trash(src='images/Trash.png',align='center')
	#delete.hide
		p Are you sure you want to delete this experiment and all its associated results?
		.buttons
			a(href='/')
				button.del-button.btn.btn-success Delete
			button.cancel-button.btn.btn-default Cancel
	.second
		h2 Results
		table.table
			thead
				tr
					th Name
					th Date
			tbody
				tr 
					td 
						a(href="/results") Trial 1
					td December 1st
				tr 
					td 
						a(href="/results") Trial 2
					td December 2st
				tr 
					td 
						a(href="/results") Trial 3
					td December 3st
				tr 
					td 
						a(href="/view_all") View all experiments
					td

