doctype html
html
	head
		title= title
		link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="style.css", type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="app.js", language="javascript", type="text/javascript")
		block addToHeader
	body
		.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/')
						span(title="Home").glyphicon.glyphicon-home
					a.navbar-brand(href='#')
						span(title="Back").glyphicon.glyphicon-chevron-left
					block experimentName

				.collapse.navbar-collapse

					ul.nav.navbar-nav
						li
							form.navbar-form.navbar-left(role='search')
								.form-group.search
									input.form-control(type='text', placeholder='Search Experiments' id='search')
									button.btn.btn-default(type='submit') 
										span.glyphicon.glyphicon-search(aria-hidden='true')
								div#search-dropdown.hide
									span#hide-box.glyphicon.glyphicon-chevron-up(style="float:right")
									h6 Search by Patient 
									ul
										li
											a(href='results')
												| Search Result #1
											br
											span Description
									h6 Search by Date 
									ul
										li
											a(href='results')
												| Search Result #2
											br
											span Description
									div#view_all
										a(href="view_all") View All
						li
							a(href="/edit_experiment").navbar-brand
								span(title="New Experiment").glyphicon.glyphicon-edit

					ul.nav.navbar-nav.navbar-right
						li.nav.navbar-right.dropdown-open
							a.dropdown-toggle#dropdownMenu1(data-toggle='dropdown', roll="button" aria-expanded='true') Hello, Brendan Ritter
								span.caret
							ul.dropdown-menu.dropdown-menu-right(role="menu" aria-labelledby="dLabel")
								li(roll="presentation")
									a(roll="menuitem" tabindex="-1" href='#') Logout
		block content
