extends layout
head 
	link(rel="stylesheet" href="login.css")
block content
	.container
		.row
			.col-xs-12.col-centered
				h1 Log In
			.col-xs-12.col-centered
				input(type='text', placeholder="Username")
			.col-xs-12
				input(type='text', placeholder="Password")
			.col-xs-12
				input.btn.primary(type='Submit', value='Log In')