extends layout

block content
	div(style='height:40px;')
	h1 Log In
	input(type='text', placeholder="Username")
	input(type='text', placeholder="Password")
	input.btn.primary(type='Submit', value='Log In')