extends layout

block content
	.container
		.row
			.column-xs-8
				.panel.panel-default
					.panel-heading All Experiments
					table.table
						thead
							tr
								th Name
								th Date
								th Time
						tbody
							tr 
								td 
									a(href="/results") Experiment 1
								td December 1st
								td 12:00pm
							tr	
								td
									a(href="/results") Experiment 2
								td December 1st
								td 3:35pm
							tr
								td
									a(href="/results") Draw a Circle
								td December 3rd
								td 10:20am
							tr
								td
									a(href="/results") Follow the dot
								td December 3rd
								td 11:47am
							tr
								td
									a(href="/results") Experiment 3
								td December 4th
								td 9:43am
							tr
								td
									a(href="/results") Experiment 4
								td December 4th
								td 12:30pm
							tr
								td
									a(href="/results") Brendan's Experiment
								td December 5th
								td 9:20am
